Package: com.sxx.quantumultx-patches
Name: Quantumult X DoQ (iOS 14)
Version: 1.0
Architecture: iphoneos-arm
Description: Enable Quantumult X quic (DoQ) for iOS 14.
Maintainer: SXX
Author: SXX
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
